/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
i {
    margin: 0 7px;
    color: #B1B1B1;
    font-size: 20px;
}

/* regole selettive */
#root {
    height: 100vh;
    position: relative;
}
#verde {
    background-color: #009988;
    height: 15%;
}
#grigio {
    background-color: #DADCD3;
    height: 85%;
}
#container {
    background-color: white;
    width: 80vw;
    height: 94vh;
    position: absolute;
    left: 10vw;
    top: 3vh;
}

/* regole header */
header {
    display: flex;
    background-color: #EAEAEA;
    height: 70px;
}
header img {
    height: 100%; 
    border-radius: 50%;
    padding: 10px;
}
.nome-utente {
    display: flex;
    width: 35%;
    line-height: 70px;
    border-right: 1px solid #DDDDDD;
}
.nome-utente > .header {
    display: flex;
    align-items: center;
}
.header.sx {
    width: 70%;
}
.header.dx {
    justify-content: right;
    width: 30%;
}
.utente-inchat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    height: 100%;
}
.parte.sx {
    height: 100%;
    display: flex;
    align-items: center;
}
.parte.sx p {
    color: #6B7578;
}

/* regole main */
main{
    display: flex;
}
main img {
    height: 100%; 
    border-radius: 50%;
    padding: 10px;
}

/* prima section */
/* notifica */
.sinistra-main {
    width: 28vw;
    height: calc(94vh - 70px);
    overflow-y: auto;
    border-right: 1px solid #DDDDDD;
}
#notifica {
    display: flex;
    align-items: center;
    background-color: #76DCFF;
    height: 70px;
}
#notifica p {
    color: #447587;
    text-decoration: underline;
}
#silenzio {
    display: flex;
    background-color: white;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 0 10px;
}
#silenzio > i {
    margin: auto;
    color: #76DCFF;
}

/* ricerca */
#ricerca {
    text-align: center;
    line-height: 50px;
    height: 50px;
    background-color: #FAFAFA;
}
#ricerca input {
    width: 96%;
    height: 35px;
    border: 1px solid #F6F6F6;
    border-radius: 5px;
    padding: 0 15px;
}

/* parte elenco chat sulla sinistra */
.multi-chat {
    display: flex;
    justify-content: space-between;
    height: 70px;
    border-bottom: 1px solid #F5F6F5;
}
.multi-chat > div:first-child {
    display: flex;
    height: 100%;
}
.testo-chat {
    margin: 10px;
}
.testo-chat p {
    color: #B6B9BB;
}

/* parte messaggi destra */
#sfondo-chat {
    background-image: url(../img/mine.jpg);
    padding: 30px 60px;
    overflow-y: auto;
    width: 52vw;
    height: calc(94vh - 140px);
}
#sfondo-chat:after {
    content: '';
    display: table;
    clear: both;
}
.mes-inviato, .mes-ricevuto {
    display: inline-block;
    max-width: 60%;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    clear: both;
}
/* messaggi inviati */
.mes-inviato {
    float: right;
    background-color: #CCFCB3;
}

/* messaggi ricevuti */
.mes-ricevuto {
    float: left;
    background-color: #FFFFFF;
}

/* parte inferiore input */
#input {
    background-color: #F5EEEA;
    height: 70px;
    line-height: 70px;
    text-align: center;
}
#input input {
    min-width: 75%;
    height: 50px;
    border: 0;
    border-radius: 5px;
    padding: 15px;
}
#input i {
    color: #697376;
    margin: 0 25px;
}










/* classi per utilizzo esterno */
.selezionata {
    background-color: rgb(245, 245, 245);
}



/* debug per tag a */
a {
    text-decoration: none;
}