<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <title>BoolzApp</title>
</head>
<body>
    <!-- contenitore vue -->
    <div id="root">
        <!-- sfondo verde e grigio -->
        <div id="verde"></div>
        <div id="grigio"></div>

        <!-- contenitore app BoolzApp -->
        <div id="container">
            <!-- intestazione con nome utenti -->
            <header>
                <!-- parte di sx nome utente -->
                <div class="nome-utente">
                    <!-- icone e nome utente sx -->
                    <div class="header sx">
                        <img src="img/avatar_io.jpg" alt="">
                        <h3>Nome Utente</h3>
                    </div>

                    <!-- icone di dx -->
                    <div class="header dx">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>

                <!-- parte di dx utente della chat -->
                <div class="utente-inchat">
                    <!-- parte di sx -->
                    <div class="parte sx">
                        <img :src="arrayUinChat[0].lFoto" alt="">
                        <div>
                            <h3>{{arrayUinChat[0].nomeU}}</h3>
                            <p>{{arrayUinChat[0].dataOra}}</p>
                        </div>
                    </div>

                    <!-- parte di dx -->
                    <div>
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
            </header>

            <!-- parte centrale della chat -->
            <main>
                <!-- parte di sx chat + ricerca -->
                <section class="sinistra-main">
                    <!-- parte in blu, promemoria attiva notifiche -->
                    <div id='notifica'>
                        <div id="silenzio">
                                <i class="fas fa-bell-slash"></i>
                        </div>
                        <div>
                            <h3>Ricevi notifiche di nuovi messaggi</h3>
                            <p>Attiva notifiche desktop</p>
                        </div>
                    </div>
                    
                    <!-- cerca una nuova chat -->
                    <div id="ricerca">
                        <form action="">
                            <input type="search" placeholder="Cerca o inizia una nuova chat" v-model='filtro' @keyup.space='filtrare(item)'>
                        </form>
                    </div>

                    <!-- parte delle chat -->
                    <!-- zero chat -->
                    <div class="multi-chat" @click='chatClick(0, index)' v-for='(item, index) in arrayChat' :class="(index === chatSelezionata ? 'selezionata' : '')">
                        <!-- foto piu' nome -->
                        <div>
                            <img :src="item.lFoto" alt="">
                            <div class="testo-chat">
                                <h3>{{item.nomeU}}</h3>
                                <p>{{item.messaggi[item.messaggi.length - 1].mes}}</p>
                            </div>
                        </div>

                        <!-- data -->
                        <div class="testo-chat">
                            <p>{{item.dataOra}}</p>
                        </div>
                    </div>
                </section>

                <!-- parte dei messaggi dx -->
                <section class="destra-main">
                    <!-- parte della chatt -->
                    <div id="sfondo-chat">
                        <div v-for='(messaggio, indice) in arrayChat[chatSelezionata].messaggi'>
                            <!-- messaggio inviato e ricevuti -->
                            <div v-bind:class='messaggio.stato'>
                                {{messaggio.mes}}
                            </div>
                        </div>
                    </div>

                    <!-- parte inferiore input messaggio -->
                    <div id="input">
                        <i class="far fa-smile"></i>
                        <input type="search" v-model='inputChat' placeholder="Scrivi un messaggio" @keyup.enter='addEnter'>
                        <i class="fas fa-microphone"></i>
                    </div>
                </section>
            </main>
        </div>
    </div>

    <!-- script -->
    <script src="js/script.js"></script>
</body>
</html>